	*{ 
		margin: 0px;
	    padding: 0px;
		}
 
	body {
		font-family:verdana;
        background-color: #ABC;		
		padding: 50px;
		margin: 0 auto; 
	 	width: 935px;
		height:800px;
		/*border: 1px solid black;*/
		}
		
	h1 {
	   text-align:center;
	   margin-bottom: 50px;
	   margin-top: 50px;
	   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size:26px;
	   }
	 
	p{
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size:17px;
		padding-left:20px;
		padding-right:40px;
	}	 
	   
   /* rules for navigation menu */
   /* ================================================= */
    
	ul#navmenu, ul.sub1, ul.sub2 {
		list-style-type: none;
		font-size: 9pt;
	    }  
   
    ul#navmenu li{
		width: 156px;
		text-align: center;
		position: relative;
        float:left;	
		text-transform: uppercase;
    /*    margin-right: 0px;	*/
    }    
	   
	ul#navmenu a {
		text-decoration:none;
		display:block; 
		width: 125px;
		height: 25px;
		line-height:25px; /* this controls the vertical position of the text */
		background-color:#FFF;
		border: 1px solid #CCC;
	/*	border-radius: 5px;*/
		background: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E3E3E3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#E3E3E3 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #FFFFFF 0%,#E3E3E3 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FFFFFF 0%,#E3E3E3 100%); /* IE10+ */
		background: linear-gradient(top, #FFFFFF 0%,#E3E3E3 100%); /* W3C */
		padding: 10px 15px;
		color: black;
	/*	float:left;	*/
	    }
		
	
	/*ul#navmenu .sub1 a{
		margin-top:0px;	
	    }*/
	
	ul#navmenu .sub2 a{
	    margin-left:36px;
	}

	ul#navmenu li:hover > a { /* on hovering over a list item we want the anchor tag that is a direct child of that list item to change color */
	  /*  background-color:#CFC;*/
		box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	border-color:#919191;
	background: #4D4D4D; /* Old browsers */
	border-color: #262626 !important;
	
	background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
	background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
	color: #FFF;
		}
		
	ul#navmenu li a:hover{
		/*background-color: #FF0;*/
		box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	
	border-color: #262626 !important;
	background: #4D4D4D; /* Old browsers */
	background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
	background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
	/*color: #FFF;*/
	}
	
	
	   
	ul#navmenu ul.sub1{
		display:none;  
		/*display: absolute;*/
		position: absolute;
		top: 47px;  /*26px*/
		left: 0px;
		z-index:1;
	/*	z-index: -1;*/
	}
		
	ul#navmenu ul.sub2{
		display: none;
		position: absolute;
		top: 0px;
		left: 120px;
		z-index:1;
        }	
		
	ul#navmenu li:hover .sub1{
	    display:block;
		color:white;
		}
		
	ul#navmenu .sub1 li:hover .sub2{ /* if i'm hovering over a list item that is within my sub1 within my ul#navmenu then the sub2 which is it's descendant will*/
	    display:block;              /* be diplayed as a block */
		}	
		
	.darrow{
		font-size: 10pt;
		position: absolute;
		top: 5px;
		right: 4px;
		}
		
	.rarrow{
		font-size: 10pt;
		position: absolute;
		top: 9px;
		right: 4px;
	}
		
	
	#navmenu li #round{
		border-left-color: #BABABA; 
		border-radius: 100px 0 0 100px;
	}

	#navmenu li #round1 {
		border-radius: 0 100px 100px 0;
	}	
	
	#container {
	/*	border: solid black 1px;*/
		width: 938px;
		height: 75px;
		margin: 5px auto 0;
	}	

	img{
		position:relative;
		top: -10px;
		border-radius: 20px;
		border: solid 1px #c3c3c3;
	}
	
	
	#sidebar {
		float: left;
		height: 750px;
		/*width: 25%; */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
		background: -moz-linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%);
		background: -o-linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FFFFFF  0%, #b5b5b5 100%); /* IE10+ */
		background: linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%); /* W3C */
		border-radius: 20px;
	}


	#content {
		float: right;
		height: 400px;
		width: 96.5%;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
		background: -moz-linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%);
		background: -o-linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FFFFFF  0%, #b5b5b5 100%); /* IE10+ */
		background: linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%); /* W3C */
		margin-bottom: 1em;
		border-radius: 20px;
		padding-left: 30px;
		border: solid 1px #c3c3c3;
	}


	#footer {
		height: 177px;
		width: 100%;
		clear: both;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5b5b5), color-stop(100%,#888888)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #b5b5b5 0%,#888888 100%); /* Chrome10+,Safari5.1+ */
		background: -moz-linear-gradient(top, #b5b5b5 0%, #888888 100%);
		background: -o-linear-gradient(top, #b5b5b5 0%, #888888 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #b5b5b5  0%, #888888 100%); /* IE10+ */
		background: linear-gradient(top, #b5b5b5 0%, #888888 100%); /* W3C */
		margin-top: 1em;
		margin-bottom: 2em;
		border-radius: 20px;
		border: solid 1px #c3c3c3;
	}	
	
	
	#sidebar li{
		list-style-type: none;
	}
	
	.centre{
		text-align: left;
	/*	padding: 16px;*/
	}
	
	.colour{
		color: blue;
		text-transform: uppercase;
		/*font-size: 20px;*/
		padding-left:16px;
	}
	
	.centre li{
		font-size: 13.5px;
	/*	color: #4c4c4c;*/
	}
	
	#navmenu li a{
		font-size: 12px; 
	}
	
	a:link {
		text-decoration: none;
		color: #4c4c4c;
	}

	a:visited {
		text-decoration: none;
		color: #4c4c4c;
	}
	
	.sidebar{
		height:30px;  /*30px;*/
		width:200px;
		/*border: 1px black solid; */
		padding-left: 32px;
		padding-top: 10px;
	}
	
	h4{
		text-align:center;
		padding-top: 8px;	
	}
    
	#content li{
		list-style-type: none;
	}
	
	.content{
		height:180px; 
		width:600px;
		/*border: 1px black solid;*/
		position: relative;
		top: 30px;
		/*border-top: 1px #4c4c4c solid;*/
		border-top: 1px #b2b2b2 solid;
		margin:0px;
	}
	
	.images{
		position: relative;
		left: 300px;
	}
	
	.text{
		position: absolute;
		top: 430px;
		/*border: 1px black solid;*/
		width:250px;
		height:100px;
		overflow: auto;
		z-index:0;
		font-family: arial;
	}
	
	.text1{
		position: absolute;
		top: 615px;
		/*border: 1px black solid;*/
		width:250px;
		height:100px;
		overflow: auto;
		z-index:0;
		font-family: arial;
	}
	
	.text2{
		position: absolute;
		top: 800px;
		/*border: 1px black solid;*/
		width:250px;
		height:100px;
		overflow: auto;
		z-index:0;
		font-family: arial;
	}
	
	.text3{
		position: absolute;
		top: 985px;
		/*border: 1px black solid;*/
		width:250px;
		height:100px;
		overflow: auto;
		z-index:0;
		font-family: arial;
	}
	
	
	.content li{
		color:#339999;
	}
	
	a:visited .title{
		text-decoration: none;
		color:#339999;
	}
	
	a:hover .title{
		color:blue;
	}
	
	
	#home{
		position: absolute;
		top:80px;
		left:350px;
		font-size:40px;
		font-family: garamond, Arial Narrow;
	}
	
		
	#header{
		position:relative;
	}
	
	#foot li{
	    float:right;
		list-style:none;
		margin:7px;
		border-right:solid 2px #838383;
		padding-right:12px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 13px;
	}
	
	
	#line{
	    position:relative;
		border-top:solid 1px #b2b2b2;
		border-bottom:solid 1px #b2b2b2;
		height:30px;
		width:360px;
		left:570px;
		top:100px;
	}
	
	
	#border{
		border-left:solid 2px #838383;
		padding-left:12px;
	}
	
	a:hover .foottext{
		color:#0000b3;
	}
	
	.foottext{
		color:#194b4b;
	}
	
	
	#copy p{
	  	position:relative;
		top:-60px;
		left:630px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 12px;
		width:350px;
		height:0px;
	}
	
	#home{
		position: absolute;
		top:80px;
		left:350px;
		font-size:40px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 30px;
	}