	*{ 
		margin: 0px;
	    padding: 0px;
	}
 
	body {
		font-family:verdana;
        background-color: #ABC;		
		padding: 50px;
		margin: 0 auto; 
	 	width: 935px;
		height:1000px;
	}
	
   /* rules for navigation menu */

	ul#navmenu, ul.sub1, ul.sub2 {
		list-style-type: none;
		font-size: 9pt;
	}  
   
    ul#navmenu li{
		width: 156px;
		text-align: center;
		position: relative;
        float:left;	
		text-transform: uppercase;
    }    
	   
	ul#navmenu a {
		text-decoration:none;
		display:block; 
		width: 125px;
		height: 25px;
		line-height:25px; /* this controls the vertical position of the text */
		background-color:#FFF;
		border: 1px solid #CCC;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E3E3E3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#E3E3E3 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #FFFFFF 0%,#E3E3E3 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FFFFFF 0%,#E3E3E3 100%); /* IE10+ */
		background: linear-gradient(top, #FFFFFF 0%,#E3E3E3 100%); /* W3C */
		padding: 10px 15px;
		color: black;
	}
		
		
	ul#navmenu .sub2 a{
	    margin-left:36px;
	}
	
	ul#navmenu li:hover > a { /* on hovering over a list item we want the anchor tag that is a direct child of that list item to change color */
		box-shadow: 0 1px rgba(255,255,255,0.2) inset;
		-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;
		border-color:#919191;
		background: #4D4D4D; /* Old browsers */
		border-color: #262626 !important;
		background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
		background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
		color: #FFF;
	}
		
	ul#navmenu li a:hover{
		box-shadow: 0 1px rgba(255,255,255,0.2) inset;
		-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;
		
		border-color: #262626 !important;
		background: #4D4D4D; /* Old browsers */
		background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
		background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
	}
	   
	ul#navmenu ul.sub1{
		display:none;  
		position: absolute;
		top: 47px; 
		left: 0px;
		z-index:1;
	}
		
	ul#navmenu ul.sub2{
		display: none;
		position: absolute;
		top: 0px;
		left: 120px;
		z-index:1;
    }	
		
	ul#navmenu li:hover .sub1{
	    display:block;
		color:white;
		}
		
	ul#navmenu .sub1 li:hover .sub2{ /* if i'm hovering over a list item that is within my sub1 within my ul#navmenu then the sub2 which is it's descendant will*/
	    display:block;             
	}	
		
	
	#navmenu li #round{
		border-left-color: #BABABA; 
		border-radius: 100px 0 0 100px;
	}

	#navmenu li #round1 {
		border-radius: 0 100px 100px 0;
	}	
	
	#container {
		width: 938px;
		height: 75px;
		margin: 5px auto 0;
	}	

	img{
		position:relative;
		top: -10px;
		border-radius: 20px;
		border: solid 1px #c3c3c3;
	}
	
	
	#sidebar {
		float: left;
		height: 750px;
		width: 25%; 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
		background: -moz-linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%);
		background: -o-linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FFFFFF  0%, #b5b5b5 100%); /* IE10+ */
		background: linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%); /* W3C */
		border-radius: 20px;
		border: solid 1px #c3c3c3;
	}


	#content {
		float: right;
		height: 750px;
		width: 70%;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
		background: -moz-linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%);
		background: -o-linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FFFFFF  0%, #b5b5b5 100%); /* IE10+ */
		background: linear-gradient(top, #FFFFFF 0%, #b5b5b5 100%); /* W3C */
		margin-bottom: 1em;
		border-radius: 20px;
		padding-left: 30px;
		border: solid 1px #c3c3c3;
	}


	#footer {
		position:relative;
		top:-8px;
		height: 177px;
		width: 100%;
		clear: both;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5b5b5), color-stop(100%,#888888)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #b5b5b5 0%,#888888 100%); /* Chrome10+,Safari5.1+ */
		background: -moz-linear-gradient(top, #b5b5b5 0%, #888888 100%);
		background: -o-linear-gradient(top, #b5b5b5 0%, #888888 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #b5b5b5  0%, #888888 100%); /* IE10+ */
		background: linear-gradient(top, #b5b5b5 0%, #888888 100%); /* W3C */
		margin-top: 1em;
		margin-bottom: 2em;
		border-radius: 20px;
		border: solid 1px #c3c3c3;
	}	
	
	#sidebar li{
		list-style-type: none;
	}
	
	.centre{
		text-align: left;
	}
	
	
	.colour{
		color: blue;
		text-transform: uppercase;
		padding-left:16px;
	}
	
	
	.centre li{
		font-size: 13.5px;
	}
	
	
	#navmenu li a{
		font-size: 12px; 
	}
	
	
	.sidebar a:link  {
		text-decoration: none;
		color: #4c4c4c;
	}

	
	.sidebar a:visited {
		text-decoration: none;
		color: #4c4c4c;
	}
	
	
	.sidebar{
		height:30px;
		width:200px;
		padding-left: 32px;
		padding-top: 10px;
	}
	
	
	h4{
		text-align:center;
		padding-top: 8px;	
	}
    
	
	#content li{
		list-style-type: none;
	}
	
	
	.content{
		height:180px; 
		width:600px;
		position: relative;
		top: 30px;
		border-top: 1px #b2b2b2 solid;
		margin:0px;
	}
	
	
	.images{
		position: relative;
		left: 300px;
		border-radius: 10px;
		border: solid 1px #c3c3c3;
	}
	
	
	.text{
		position: absolute;
		top: 400px;
		width:250px;
		height:100px;
		z-index:0;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 16px;
	}
	
	
	.text1{
		position: absolute;
		top: 600px;
		width:250px;
		height:100px;
		z-index:0;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 16px;
	}
	
	
	.text2{
		position: absolute;
		top: 780px;
		width:250px;
		height:100px;
		z-index:0;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 16px;
	}
	
	
	.text3{
		position: absolute;
		top: 985px;
		top: 960px;
		width:250px;
		height:100px;
		z-index:0;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 16px;
	}
	
	
	a:visited {
	    color:#339999;
		text-decoration: none;
	}
	
	
	a:link {
	    color:#339999;
		text-decoration: none;
	}
	
	
	h1{
		position: absolute;
		top:130px;
		left:350px;
		font-size:40px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 30px;
	}
		
	
	a:hover .title{
		color:blue;
	}
	
	
	#foot li{
	    float:right;
		list-style:none;
		margin:7px;
		border-right:solid 2px #838383;
		padding-right:12px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 13px;
	}
	
	
	#line{
	    position:relative;
		border-top:solid 1px #b2b2b2;
		border-bottom:solid 1px #b2b2b2;
		height:30px;
		width:360px;
		left:570px;
		top:100px;
	}
	
	
	#border{
		border-left:solid 2px #838383;
		padding-left:12px;
	}
	
	
	a:hover .foottext{
		color:#0000b3;
	}
	
		
	.foottext{
		color:#194b4b;
	}
	
			
	#header{
		position:relative;
	}
	
	
	#copy{
	  	position:relative;
		top:115px;
		left:330px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		width:350px;
		height:0px;
		font-size: 12px;
	}
	
	.images{
		width:40%;
	}
	
	#title1 .images{
		width:36.7%;
		
	}
	
		
	#title1 li{
		position:relative;
		top:5px;
	}
		
	
	#header{
		width:930px;
		height:230px;
	}
	
	#header img{
		width:935px;
		height:230px;
	}
	
	
	#container1{
		margin-top:-10px;
	}

@media only screen and (max-width: 1366px){
	body {
	  	padding: 0px;
		margin: 0 auto; 
		width:90%;
		padding-top:50px;
		z-index:-1;
		height:1300px;
		overflow: hidden;
	}
	  
   
    html{
		overflow-x: hidden;
		z-index:-1;
		height:1200px;
		margin-bottom:-100px;	
	}
	
	a{
		z-index:2;
	}
	
	/* rules for navigation menu */
	  
	ul#navmenu, ul.sub1, ul.sub2 {
		z-index:2;
	}  
	
	   
    #navmenu li{
		width: 158px;
	}    
	
	
	#navmenu a {
		width: 127px;
		width: 156px;
	}
		
			
	ul#navmenu .sub2 a{
	    z-index:2;
	}
			
	ul#navmenu ul.sub2{
		left: 120px;
	}	
		
	
	#navmenu{
		position:relative;
		padding-left:40px;	
	}
	
	
	.navtext{
		font-size:12px;
	}
	
	center{
		margin:0 auto;
	}
	
	
	#container {
	     position:relative;
	    left:5px;
	  	width:990px;
		height:60px;
		padding-right:0px;
	}	

	
	img{
		position:relative;
		top: -10px;
		border-radius: 20px;
		border: solid 1px #c3c3c3;
	}
	
	
	#sidebar {
	    position:relative;
		clear: both;
		left:1%;
		top:-768px;
		height: 750px;
		width: 25%; 
		width: 25.5%; 
		margin-left:0px;
		margin: 0 auto;
	}
	
	
	#content {
	    position:relative;
		clear: both;
		left:-1%;
		width: 67.3%;		
		margin-left:10%;
		z-index:1;
	}
	
	
	#container1{
		margin: 5px auto 0;
		width:80%;
		height:900px;
		z-index:-3;
	}


	#footer {
		left:11%;
		top:-755px;
		width: 78%;
	}	
			
	
	.sidebar{
		padding-left: 10%;
	}
	
	
	.content{
		width:90%;
		z-index:0;
	}
	
	#title1{
		height:180px; 
		width:90%;
		position: relative;
		top: 5px;
		margin:0px;	
		z-index:0;
	}
	
		
	.text{
		top:55px;
	}
	
	
	.text1{
		top:255px;
	}
	
	
	.text2{
		top:435px;
	}
	
	
	.text3{
		top: 615px;
	}
	
	.text,.text1, .text2, .text3{
		position: absolute;
		width:39%;
		height:100px;
		z-index:0;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 16px;
	}
	
	
	h1{
	    position:relative;
		top:-100px;
		left:0%;
		text-align:center;
	}
		
	
	#foot li{
	    text-align:center;		
	}
	
	
	#line{
	  	width:50%;
		left:49%;
	}
	
	
	#header{
		position:relative;
		width:100%;
		height:230px;
	}
	
	
	#header img{
		top:0px;
		height:223px;
		left:10.8%;
		width:78%;
	}
	
	#copy{
	  	left:36%;
	}
	
	
	.content .images{
		position:relative;
		left:55%;
		width:40%;
	}
	
	#title1 .images{
		position:relative;
		left:55%;
		width:40%;
	}
	
	#navmenu{
		position:relative;
		left:-2%;
	}
}	

@media only screen and (max-width: 1000px){
	body{
		height:1500px;
		overflow: hidden;
	}
	
	ul#navmenu li{
		position: relative;
		width: 99.5%;	
		text-align: center;
		clear: both;
		text-transform: uppercase;
		left:55px;
	} 

	ul#navmenu a{
		width: 100%;
	}	
	
	#sidebar{
		position:relative;
		top:-758px;		
	}
	
	#content{
		position:relative;
		top:10px;
	}	
	
	
	#footer {
		position:relative;
		top:-748px;		
		width:77%;
	}	
	
	
	#header{
		position:relative;
	    width:100%;
	}
		
				
	#title1{
		position:relative;
		top:5px;		
		margin-bottom:40px;		
		z-index:-1;
	}
	
	
	#container{
		z-index:3;
	}
	
	
	#title1 img{
		position:relative;
		top:-15px;
	}

	
	#title2 {
		position:relative;
		top:-25px;
		line-height:0px;
		margin-bottom:-40px;
		z-index:0;
	}
	
		
	#title2 li{
		position:relative;
		top:10px;
	}
	
		
	#title2 img{
		position:relative;
		top:10px;
	}
	

	.text{
		top:50px;
	}
	
	
	.text1{
		top:245px;
	}
	
	
	.text2{
		top:435px;
	}
	
	
	.text3{
		top: 615px;
	}
	
	#navmenu li #round{
		border-left-color: #BABABA; 
		border-radius: 25px 25px 0 0;		
	}

	#navmenu li #round1 {
		border-radius: 0 0 25px 25px;
	}	
	
	#container {
		position: relative;
	   	left:-77px;
	   	width:80%;
	}
		
	#content{
		width: 65.1%;
	}	
	
		
	ul#navmenu ul.sub1{
		display:none; 
		position: absolute;
		top: 47px;  
		left: 0px;
		width:100%;
		z-index:1;
	}
	
	ul#navmenu ul.sub1 a{
		position: relative;
		height:10px;
		width:100%;
		left:-55px;
		width:50%;
	}
	
	
	ul#navmenu ul.sub2{
		left:41%;
		width:50%;
    }
	
}

@media only screen and (max-width: 880px){
	ul#navmenu ul.sub2{
		left:40%;
	}
}



@media only screen and (max-width: 845px){
	ul#navmenu ul.sub2{
		left:39%;
	}
}	

	
	
@media only screen and (max-width: 730px){

  	#sidebar{
		display:none;
	}
	
	#container{
		position:relative;
		left:-87px;
		top:-5px;
		width: 101.5%;
		padding:0px;
		margin-right:0px;		
	}
	
	#content{
		position:relative;
		margin-left:0%;
		margin-right:0%;
		left:-10px;
		top:0px;
		/*width: 87%;*/	
		z-index:3;
	}	
	
	#container1{
		position:relative;
		width: 100%;
		margin-right:0%;
		z-index:0;
	}
	

	body {
		width: 95%;
		z-index:-1;
	}
		
	
	#header{
		width:98.5%;
		
	}
	
	#header img{
		width:99%;
		left:1px;
	}
	
		
	#footer{
		top:-12px;
		left:2px;
		width: 97.5%;
		margin-right:-100px;
	}	
}



@media only screen and (max-width: 730px){
	#content{
		width: 93%;
	}
}



@media only screen and (max-width: 600px){
   
	#content{
		left:-2px;
	}
	
	#line{
		position:relative;
		left:49%;
		width:50%;
	}
	
	#copy{
		left:20%;
		font-size:10px;
	}	
	
	.foottext{
	    position:relative;
		left:-7px;
		font-size:11px;		
	}
	
	#foot li{
		width:25px;
	}
	
	h1{
		font-size:25px;
	}
	
	ul#navmenu ul.sub2{
		left:38.5%;
	}
}


@media only screen and (max-width: 564px){
	.fontsize{
		font-size:11px;
	}
}

@media only screen and (max-width: 539px){
	#navmenu .sub2 .flockwalk{
		line-height:12px;
		padding-bottom:15px;
	}
}



@media only screen and (max-width: 500px){
	ul#navmenu ul.sub2{
		left:35%;
	}
}


@media only screen and (max-width: 410px){
	
	#content{
		width: 92%;
		left:2px;
		z-index:3;
	}
	
	#footer{
		left:0px;
		width: 100%;
	}
	
	.text,.text1,.text2,.text3{
		font-size:14px;
	}
	
	#line{
		left:30%;
		width:200px;
	}
	
	h1{
		font-size:20px;
	}
	
	.fontsize{
		font-size:11px;
	}	
    
	#container1{
		z-index:0;
	}
	
}


@media only screen and (max-width: 360px){
	body{
		height:1250px;
		overflow: hidden;
	}
	
  	#content{
		width: 91%;
	}
	
	.fontsize{
		font-size:11px;
	}
				
		
	ul#navmenu ul.sub2{
		left:29%;
	}
	
	#title{
		position:relative;
		top:35px;
	}
	
	body{
		padding-top:10px;
	}
	
	#header img{
		height:100px;
		left:2px;
	}
	
	#container{
		position:relative;
		top:-128px;
	}
	
	#container1{
		position:relative;
		top:-122px;
	}
	
	#footer{
		position:relative;
		top:-135px;	
		left:-1.5px;
		height:120px;
	}
	
	
	#line{
		top:30px;
	}
	
	#copy{
		top:55px;
	}

	ul#navmenu a {
		height: 15px;
	}
	
	ul#navmenu ul.sub1{
		display:none; 
		position: absolute;
		top: 37px;  
		left: 0px;
		width:100%;
		z-index:1;
	}
	
	ul#navmenu ul.sub1 a{
		position: relative;
		height:8px;
		left:-55px;
		width:50%;
		line-height:5px;
	}
	
	
	ul#navmenu ul.sub2{
		left:31%;
		width:70%;
		height:8px;
    }
	
	
	#content{
		position:relative;
		top:0px;	
	}
	
	#title1{
		top:5px;	
	}	
}
